#topNav {
  height: 80px;
  display: flex;
  flex-direction: row;
}

#sideNav {
  width: 155px;
  height: 100%;
  position: sticky;
  top: 0;
  left: 0;
}

#page {
  display: block;
  width: 100%;
}

.flex2 {
  display: flex;
  flex-direction: row;
}

#logo {
  height: 60px;
  margin-top: 1vh;
  margin-left: 1vw;
}

#greetingText {
  font-size: 24px;
  margin: auto;
  margin-left: 5vw;
}

#userImage {
  right: 0;
  margin-right: 3vw;
  width: 35px;
}

#notificationIcon {
  width: 25px;
  margin-right: 3vw;
}

.fillPage {
  height: 100%;
  width: 100%;
  display: flex;
}

.pagecont {
  display: block;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  top: 80px;
}

.navItem {
  width: 85px;
  height: 85px;
  margin: 20px;
  border-radius: 15px;
  transition: 0.8s;
  background-position: -100px -30px;
  background-size: 100% 100px;
  overflow: hidden;
  position: relative;
}

.navItem::hover {
  width: 85px;
  height: 85px;
  margin: 20px;
  border-radius: 20px;
  transition: 0.5s;
}

.NavItemImage-nonActive {
  margin-top: 21%;
  pointer-events: none;
}

.NavItemImage {
  margin-top: 21%;
  filter: invert(100%);
  pointer-events: none;
}

.imageInvert {
  filter: invert(100%);
}

#dashboardNav {
  background-image: radial-gradient(farthest-corner at -20% 110%,#2F94FC,#2FB1FF);
}

.NavItemBg {
  background-image: radial-gradient(farthest-corner at -20% 110%,#2F94FC,#2FB1FF);
  color: white;
}

.NavItemBg-nonActive:hover {
  background-color: #2FB1FF;
}

.NavItemBg-nonActive {
  transition: all 0.2s ease;
}

.NavItemText-nonActive {
  font-size: 9px;
  margin-top: 5px;
  pointer-events: none;
}

.NavItemText {
  font-size: 9px;
  margin-top: 5px;
  color: white;
  pointer-events: none;
}

.WidgetGray:hover {
  box-shadow: 0 8px 16px 0 rgba(172,240,249,0.11), 0 8px 16px 0 rgba(0,102,255,0.1);
}

.WidgetGray {
  background-image: radial-gradient(farthest-corner at -120% 110%,#F3F3F3,#F3F3F3);
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(10,10,10,0.08), 0 8px 16px 0 rgba(10,10,10,0.05);
  height: 137px;
  transition: all 0.2s ease;
}

.WidgetTotal:hover {
  box-shadow: 0 8px 16px 0 rgba(10, 10, 10, 0.1), 0 8px 16px 0 rgba(29,173,255,0.39);
}

.WidgetTotal {
  background-image: radial-gradient(farthest-corner at -120% 110%,#2F94FC,#3BCCF9);
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(10, 10, 10, 0.1), 0 8px 16px 0 rgba(10, 10, 10, 0.1);
  height: 137px;
  transition: all 0.2s ease;
}

.WidgetTitleSmall {
  width: 100%;
  text-align: center;
  font-size: 14px;
  display: block;
  margin-top: 10px;
}

.col.WidgetTotal.hoverWhite {
}

.cyanProgress {
  background-color: #39F0EB;
}

.progress.pregressBack {
  background-color: #D4D9D3;
  border-radius: 10px;
}

.listItem {
  height: 60px;
  display: block;
}

.listItemBg-selected {
  background-color: #2FB1FF;
  height: 100%;
  border-radius: 10px;
  background-size: auto 400px;
  background-repeat: no-repeat;
}

.listItemBg:hover {
  background-color: #2FB1FF;
  box-shadow: 0px 0px 20px 1px rgba(160,160,160,0.68);
}

.listItemBg {
  background-color: #eaeaea;
  height: 100%;
  border-radius: 10px;
  background-size: auto 400px;
  background-repeat: no-repeat;
  transition: all 0.2s ease;
}

.showAll {
  background-color: #D4D9D3;
  height: 35px;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  border-radius: 0px 0px 10px 10px;
  transition: all 0.5s ease;
  backdrop-filter: blur(50px) opacity(80%);
}

.showAll:hover {
  background-color: #3BCCF9;
  color: white;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  font-style: normal!important;
  color: #2B2B2B!important;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  color: #2B2B2B;
}

.receptionist {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #69D6C5;
}

.FullListItem {
  margin-top: 10px;
  border-radius: 10px !important;
  transition: all 0.5s ease;
}

.listHead {
  margin-left: 5px;
  color: #2B2B2B;
  text-align: left;
}

.listHeader {
  color: #2B2B2B;
}

.FullListItem-selected {
  background-color: #2FB1FF;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px rgba(160,160,160,0.68);
  transition: all 0.5s ease;
}

.FullListItem:hover {
  background-color: #2FB1FF;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px rgba(112,112,112,0.3);
  color: white;
}

.FullListItem {
  border-radius: 10px;
}

.ProfileInput {
  margin-left: 5px;
  margin-top: 10px;
  background: #E5E8E5;
  border-style: none;
  border-radius: 10px;
  width: 85%;
  margin-bottom: 5px;
}

.imageInvert {
  filter: invert(100%);
}

.btn-done {
  float: right;
  position: relative;
  border-radius: 10px;
  background: #3BCCF9;
  border-style: none;
  box-shadow: 0px 0px 10px rgba(0,123,255,0.38);
}

.btn-done:hover {
  background: #32b1d9;
  box-shadow: 0px 0px 10px rgba(0,123,255,0.1);
}

.btn-edit {
  position: relative;
  float: right;
  margin-right: 10px;
  border-radius: 10px;
  background: #8F908E;
  border-style: none;
  box-shadow: 0px 0px 10px rgba(123,123,123,0.11);
}

.btn-delete {
  border-radius: 10px;
  background: #E3003B;
  box-shadow: 0px 0px 10px rgb(251,150,150);
  border-style: none;
}

textWhite {
  color: #fff;
}

.flyoutFull {
  display: block;
  width: 700px;
  height: 75%;
  position: fixed;
  margin-right: 25%;
  margin-top: 10%;
  backdrop-filter: blur(10px);
  backdrop-filter: brightness(400%);
  background-color: #87878722;
  border-radius: 20px;
  float: right;
  right: 0;
}

