.imageInvert {
  filter: invert(100%);
}

.ProfileInput {
  margin-left: 5px;
  margin-top: 10px;
  background: #E5E8E5;
  border-style: none;
  border-radius: 10px;
  width: 85%;
  margin-bottom: 5px;
}

.imageInvert {
  filter: invert(100%);
}

.btn-done {
  float: right;
  position: relative;
  border-radius: 10px;
  background: #3BCCF9;
  border-style: none;
  box-shadow: 0px 0px 10px rgba(0,123,255,0.38);
}

.btn-done:hover {
  background: #32b1d9;
  box-shadow: 0px 0px 10px rgba(0,123,255,0.1);
}

.btn-delete {
  border-radius: 10px;
  background: #E3003B;
  box-shadow: 0px 0px 10px rgb(251,150,150);
  border-style: none;
}

