.btn-contain {
  display: flex;
  position: relative;
  left: -14vw;
}

.session-back-btn {
  position: relative;
  left: -4vw;
}

.btn.btn-primary.back-btn-session {
  width: 9vw;
  height: 6vh;
  position: relative;
  top: 2vh;
  background-color: #259EFF;
  border-radius: 17px;
  left: -1vw;
}

.btn.btn-primary.schedule-btn {
  width: 14vw;
  height: 6vh;
  position: relative;
  top: 2vh;
  background-color: #099738;
  border-radius: 17px;
  left: -1vw;
}

.session-date-list {
  position: relative;
  left: 24vw;
  top: 2vh;
}

.session-time-list {
  position: relative;
  left: 32vw;
  top: 2vh;
}

.specialization-lbl {
  position: relative;
  left: 39vw;
  top: 2vh;
}

.showAll-session {
  background-color: #D4D9D3;
  height: 35px;
  position: absolute;
  border-radius: 0px 0px 10px 10px;
  transition: all 0.5s ease;
  backdrop-filter: blur(50px) opacity(80%);
  width: 80vw;
  top: 64vh;
  left: 0vw;
}

.room-no {
  position: relative;
  left: 6vw;
}

.WidgetGray:hover {
  box-shadow: 0 8px 16px 0 rgba(172,240,249,0.11), 0 8px 16px 0 rgba(0,102,255,0.1);
}

.WidgetGray {
  background-image: radial-gradient(farthest-corner at -120% 110%,#F3F3F3,#F3F3F3);
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(10,10,10,0.08), 0 8px 16px 0 rgba(10,10,10,0.05);
  height: 137px;
  transition: all 0.2s ease;
}

.WidgetTitleSmall {
  width: 100%;
  text-align: center;
  font-size: 14px;
  display: block;
  margin-top: 10px;
}

.listItem {
  height: 60px;
  display: block;
}

.listItemBg:hover {
  background-color: #2FB1FF;
  box-shadow: 0px 0px 20px 1px rgba(160,160,160,0.68);
}

.listItemBg {
  background-color: #eaeaea;
  height: 100%;
  border-radius: 10px;
  background-size: auto 400px;
  background-repeat: no-repeat;
  transition: all 0.2s ease;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  color: #2B2B2B;
}

.table-headings {
  display: inline-flex;
  width: 100%;
}

.patient-name {
  position: relative;
  left: 6vw;
}

.doctor-name {
  position: relative;
  left: 16vw;
}

.date-time {
  position: relative;
  left: 29vw;
}

.appointment-no {
  position: relative;
  left: 35vw;
}

.room-no {
  position: relative;
  left: 40vw;
}

.p-name-lbl {
  position: relative;
  left: 3vw;
  top: 2vh;
}

.d-name-lbl {
  position: relative;
  left: 12vw;
  top: 2vh;
}

.img-fluid.icon-position {
  margin-left: 10px;
}

