.all-text-lbl {
  position: relative;
  left: 3vw;
  top: 1vw;
}

.image-patient {
  width: 5vw;
}

.all-patient-lbl {
  display: flex;
}

.all-text-lbl {
  position: relative;
  left: 0vw;
  top: -2vh;
}

.discharge-lbl {
  position: relative;
  left: 0vw;
  top: -2vh;
}

.discharge-patient {
  position: relative;
  top: 5vh;
  left: -16.5vw;
}

.btn.btn-primary.back-btn-discharge-patient {
  width: 12vw;
  height: 6vh;
  position: relative;
  top: -1vh;
  background-color: #259EFF;
  border-radius: 17px;
  left: 40vw;
  border: none;
}

.search-a-patient-lbl {
  position: relative;
  left: -41vw;
  top: 13vh;
}

.search-discharge {
  position: relative;
  top: 11vh;
  left: -40.5vw;
}

.search-patient-discharge {
  width: 35vw;
  height: 8vh;
  background-color: #D4D9D3;
  position: relative;
  left: 3vw;
  top: 13vh;
  border-radius: 20px;
}

.WidgetGray.recently-discharge-patient {
  height: 69%;
  position: absolute;
  width: 32%;
  margin: 5px;
  left: 62vw;
  top: 17vh;
}

.discharge-detail-lbl {
  position: relative;
  left: 19vw;
}

.showAll-position {
  background-color: #D4D9D3;
  height: 35px;
  position: absolute;
  border-radius: 0px 0px 10px 10px;
  transition: all 0.5s ease;
  backdrop-filter: blur(50px) opacity(80%);
  width: 32vw;
  top: 64vh;
}

.patient-discharge-pos {
  position: relative;
  top: 5vh;
  left: -16.5vw;
}

.btn.btn-primary.back-btn-discharge-patient-info {
  width: 11vw;
  height: 6vh;
  position: relative;
  top: -1vh;
  background-color: #259EFF;
  border-radius: 17px;
  left: 42vw;
  border: none;
}

.form-control-lg.session-time-doc {
  width: 21vw;
  position: relative;
  left: 0vw;
  background-color: #D4D9D3;
  border: none;
  bottom: 1vh;
  z-index: 22;
}

.session-directory-smaill-card {
  width: 13vw;
  background-color: #2FAFFF;
  height: 28%;
  border-radius: 20px;
  position: relative;
  left: 3vw;
  bottom: 68vh;
}

.view-txt {
  position: relative;
  left: 3vw;
  top: 0vw;
}

.session-text {
  position: relative;
  left: 3vw;
  top: -1vh;
}

.view-session-icon {
  width: 4vw;
  position: relative;
  bottom: 1vh;
  left: 5vw;
}

.btn-contain {
  display: flex;
  position: relative;
  left: -14vw;
}

.session-back-btn {
  position: relative;
  left: -4vw;
}

.btn.btn-primary.back-btn-session {
  width: 9vw;
  height: 6vh;
  position: relative;
  top: 2vh;
  background-color: #259EFF;
  border-radius: 17px;
  left: -1vw;
  border: none;
}

.btn.btn-primary.schedule-btn {
  width: 14vw;
  height: 6vh;
  position: relative;
  top: 2vh;
  background-color: #099738;
  border-radius: 17px;
  left: -1vw;
  border: none;
}

.session-date-list {
  position: relative;
  left: 24vw;
  top: 2vh;
}

.session-time-list {
  position: relative;
  left: 32vw;
  top: 2vh;
}

.specialization-lbl {
  position: relative;
  left: 39vw;
  top: 2vh;
}

.showAll-session {
  background-color: #D4D9D3;
  height: 35px;
  position: absolute;
  border-radius: 0px 0px 10px 10px;
  transition: all 0.5s ease;
  backdrop-filter: blur(50px) opacity(80%);
  width: 83vw;
  top: 65vh;
}

.btn.btn-primary.save-btn-edit {
  width: 12vw;
  height: 7vh;
  position: relative;
  top: 2vh;
  background-color: #099738;
  border-radius: 17px;
  left: -1vw;
  border: none;
  z-index: 2;
}

.doctor-text-all {
  position: relative;
  top: 5vh;
  left: -5.5vw;
}

.btn.btn-primary.back-btn-all-doctor {
  width: 11vw;
  height: 6vh;
  position: relative;
  top: -1vh;
  background-color: #259EFF;
  border-radius: 17px;
  left: 48vw;
  border: none;
}

.showAll-appointment {
  background-color: #D4D9D3;
  height: 35px;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  border-radius: 0px 0px 10px 10px;
  transition: all 0.5s ease;
  backdrop-filter: blur(50px) opacity(80%);
}

.Room-Allocate {
  margin-left: 5px;
  margin-top: 10px;
  background: #E5E8E5;
  border-style: none;
  border-radius: 10px;
  width: 34%;
  margin-bottom: 5px;
}

